<app-main></app-main>
<app-select (change)="onStatus($event)"></app-select>
<h1>Lista de páginas</h1>
<div class="page-info">
  <h3>Páginas: {{pageNumber}}/{{currentPage}}</h3>
</div>
<div class="btn-container">
  <button class="btn btn-secondary m-2" (click)="changePage(false)" [disabled]="currentPage === 1">Anterior</button>
  <button class="btn btn-primary" (click)="changePage(true)" [disabled]="currentPage === pageNumber">Siguiente</button>
</div>
<div class="container" >
  <!-- Normal Demo-->
  <div class="post-module" *ngFor="let personaje of arrPj">
    <div class="demo-title">
      {{personaje.name}}
    </div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail"  (click)="viewDetail(personaje.id)" >
        <img  [src]="personaje.image"/>

      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">{{personaje.species}}</div>

      </div>
    </div>
  </div>
</div>
