 <section>
    <div data-pj-detail *ngFor="let pj of arrPj">
        <div class='img'>
          <img [src]="pj.image" />
        </div>
      <div class="product-details">
        <h2>{{pj.name}}</h2>
        <p>{{pj.species}}</p>
        <p>
          {{pj.location['name']}}
        </p>
        <div class="flexy" *ngFor="let episode of pj.episode">
          <div class="icon-container" (click)="episodeData(episode.slice(-2))">
            <fa-icon [icon]="tv" class="icon-size" ></fa-icon>
            <span>{{ episode | urlValueNumber }}</span>
          </div>
        </div>

      </div>

    </div>

</section>
