<body>
  <div class="container"> <!-- Flex container -->
    <div class="item">
        <img src="https://www.gustore.cl/img/estampados/834/834.png" alt="">
    </div> <!-- Flex items -->
    <div class="nav">
      <div class="item2" routerLink="/home">Charecters</div>
      <div class="item3" routerLink="/locations">Locations</div>
      <div class="item4" routerLink="/episode">Episodes</div>
    </div>
    <div class="search">
      <app-formsearch></app-formsearch>
    </div>
  </div>
</body>
