<div class="overlay" *ngIf="modalService.modalState$ | async">
  <div class="modal">
    <ng-content></ng-content>
    <div *ngFor="let item of modalContent ">
      <div>Episode Name: {{item.name}}</div>
      <div>Fecha de Lanzamiento: {{item.air_date}}</div>
      <div>Episode: {{item.episode}}</div>
      <table class="characters-table">
        <thead>
          <tr>
            <th>Personajes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let name of namePj">
            <td>{{ name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="close-button" (click)="closeModal()">Cerrar</button>
  </div>
</div>
