<div class="select">
  <select name="Status" id="">
    <option ></option>
    <option value="Alive" >Vivo</option>
    <option value="Dead" >Muerto</option>
    <option value="unknown" >Desconocido</option>
  </select>
  <select name="gender" id="">
    <option ></option>
    <option value="female" >Female</option>
    <option value="male" >Male</option>
    <option value="genderless" >Genderless</option>
    <option value="unknown" >Unknown</option>
  </select>
  <select name="" id=""></select>
</div>
