div.container{
  display: flex;
  justify-content: center;
}

img{
  width: 800px;
  height: 300px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}
